parameters:
	ignoreErrors:
		-
			message: """
				#^Fetching class constant class of deprecated class Symfony\\\\Bundle\\\\WebServerBundle\\\\WebServerBundle\\:
				since Symfony 4\\.4, to be removed in 5\\.0; the new Symfony local server has more features, you can use it instead\\.$#
			"""
			count: 1
			path: config/bundles.php

		-
			message: """
				#^Call to method enable\\(\\) of deprecated class Symfony\\\\Component\\\\Debug\\\\Debug\\:
				since Symfony 4\\.4, use Symfony\\\\Component\\\\ErrorHandler\\\\Debug instead\\.$#
			"""
			count: 1
			path: public/index.php

		-
			message: "#^Variable \\$departureSpots might not be defined\\.$#"
			count: 1
			path: src/Controller/HomeController.php

		-
			message: "#^Cannot access offset 'email' on mixed\\.$#"
			count: 1
			path: src/Controller/NewsletterController.php

		-
			message: "#^Parameter \\#1 \\$email of method App\\\\Entity\\\\Newsletter\\:\\:setEmail\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/NewsletterController.php

		-
			message: "#^Parameter \\#1 \\$url of method Symfony\\\\Bundle\\\\FrameworkBundle\\\\Controller\\\\AbstractController\\:\\:redirect\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/NewsletterController.php

		-
			message: "#^Cannot access offset 'comebackDate' on mixed\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Cannot access offset 'departureDate' on mixed\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Cannot access offset 'departureSpot' on mixed\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Cannot access offset 'destination' on mixed\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Cannot call method getChildPrice\\(\\) on App\\\\Entity\\\\BookingOffer\\|null\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Cannot call method getOfferPrice\\(\\) on App\\\\Entity\\\\BookingOffer\\|null\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Method App\\\\Controller\\\\Offer\\\\OfferController\\:\\:getOffersBasedOnDestination\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Method App\\\\Controller\\\\Offer\\\\OfferController\\:\\:getOffersBasedOnFormSubmission\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Method App\\\\Controller\\\\Offer\\\\OfferController\\:\\:getOffersBasedOnOfferType\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Method App\\\\Controller\\\\Offer\\\\OfferController\\:\\:getOffersBasedOnRequestQuery\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Parameter \\#1 \\$date of method App\\\\Controller\\\\Offer\\\\OfferController\\:\\:getWellFormattedDate\\(\\) expects string, mixed given\\.$#"
			count: 2
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Parameter \\#1 \\$departureSpot of method App\\\\Entity\\\\BookingOffer\\:\\:setDepartureSpot\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Parameter \\#1 \\$dirs of method Symfony\\\\Component\\\\Finder\\\\Finder\\:\\:in\\(\\) expects array\\<string\\>\\|string, string\\|null given\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Parameter \\#1 \\$name of method Symfony\\\\Component\\\\Form\\\\FormInterface\\<mixed\\>\\:\\:get\\(\\) expects string, int\\|null given\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\Entity\\\\Reservation\\:\\:setUser\\(\\) expects App\\\\Entity\\\\User\\|null, object\\|null given\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Parameter \\#2 \\$destinationName of method App\\\\Controller\\\\Offer\\\\OfferController\\:\\:getOffersBasedOnDestination\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Parameter \\#2 \\$offerTypeName of method App\\\\Controller\\\\Offer\\\\OfferController\\:\\:getOffersBasedOnOfferType\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Variable \\$departureSpots might not be defined\\.$#"
			count: 1
			path: src/Controller/Offer/OfferController.php

		-
			message: "#^Cannot access offset 'first' on mixed\\.$#"
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: "#^Cannot access offset 'password' on mixed\\.$#"
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: "#^Cannot call method setPassword\\(\\) on mixed\\.$#"
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: "#^Cannot call method setRegistrationDate\\(\\) on mixed\\.$#"
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: "#^Parameter \\#1 \\$object of method Doctrine\\\\Persistence\\\\ObjectManager\\:\\:persist\\(\\) expects object, mixed given\\.$#"
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: "#^Parameter \\#1 \\$user of method Symfony\\\\Component\\\\Security\\\\Core\\\\Encoder\\\\UserPasswordEncoderInterface\\:\\:encodePassword\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface, mixed given\\.$#"
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: "#^Parameter \\#2 \\$plainPassword of method Symfony\\\\Component\\\\Security\\\\Core\\\\Encoder\\\\UserPasswordEncoderInterface\\:\\:encodePassword\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: "#^Parameter \\#2 \\$user of method App\\\\Security\\\\LoginFormAuthenticator\\:\\:checkCredentials\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface, object\\|null given\\.$#"
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: "#^Cannot call method getBookingOffer\\(\\) on App\\\\Entity\\\\Reservation\\|null\\.$#"
			count: 1
			path: src/Controller/UsersData/RateOfferController.php

		-
			message: "#^Cannot call method getPackageId\\(\\) on App\\\\Entity\\\\BookingOffer\\|null\\.$#"
			count: 1
			path: src/Controller/UsersData/RateOfferController.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\Entity\\\\CustomersRating\\:\\:setUser\\(\\) expects App\\\\Entity\\\\User\\|null, object\\|null given\\.$#"
			count: 1
			path: src/Controller/UsersData/RateOfferController.php

		-
			message: "#^Cannot call method getEmail\\(\\) on object\\|null\\.$#"
			count: 2
			path: src/Controller/UsersData/SettingController.php

		-
			message: "#^Cannot call method getFirstName\\(\\) on object\\|null\\.$#"
			count: 2
			path: src/Controller/UsersData/SettingController.php

		-
			message: "#^Cannot call method getLastName\\(\\) on object\\|null\\.$#"
			count: 2
			path: src/Controller/UsersData/SettingController.php

		-
			message: "#^Cannot call method setEmail\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Controller/UsersData/SettingController.php

		-
			message: "#^Cannot call method setFirstName\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Controller/UsersData/SettingController.php

		-
			message: "#^Cannot call method setLastName\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Controller/UsersData/SettingController.php

		-
			message: "#^Cannot call method setPassword\\(\\) on object\\|null\\.$#"
			count: 1
			path: src/Controller/UsersData/SettingController.php

		-
			message: "#^Method App\\\\Controller\\\\UsersData\\\\SettingController\\:\\:UpdateUserData\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Controller/UsersData/SettingController.php

		-
			message: "#^Method App\\\\Controller\\\\UsersData\\\\SettingController\\:\\:UpdateUserData\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Controller/UsersData/SettingController.php

		-
			message: "#^Parameter \\#1 \\$fields of method App\\\\Controller\\\\UsersData\\\\SettingController\\:\\:UpdateUserData\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Controller/UsersData/SettingController.php

		-
			message: "#^Parameter \\#1 \\$user of method Symfony\\\\Component\\\\Security\\\\Core\\\\Encoder\\\\UserPasswordEncoderInterface\\:\\:encodePassword\\(\\) expects Symfony\\\\Component\\\\Security\\\\Core\\\\User\\\\UserInterface, object\\|null given\\.$#"
			count: 1
			path: src/Controller/UsersData/SettingController.php

		-
			message: "#^Parameter \\#1 \\$destination of method App\\\\DataFixtures\\\\BookingOfferFixture\\:\\:createBookingOffer\\(\\) expects App\\\\Entity\\\\Destination\\|null, object given\\.$#"
			count: 11
			path: src/DataFixtures/BookingOfferFixture.php

		-
			message: "#^Parameter \\#3 \\$offerType of method App\\\\DataFixtures\\\\BookingOfferFixture\\:\\:createBookingOffer\\(\\) expects App\\\\Entity\\\\BookingOfferType\\|null, object given\\.$#"
			count: 11
			path: src/DataFixtures/BookingOfferFixture.php

		-
			message: "#^Parameter \\#1 \\$salary of method App\\\\Entity\\\\Career\\:\\:setSalary\\(\\) expects string, float given\\.$#"
			count: 1
			path: src/DataFixtures/CareerFixture.php

		-
			message: "#^Method App\\\\DataFixtures\\\\CustomersRatingFixture\\:\\:createRatingWithComment\\(\\) has parameter \\$user with no type specified\\.$#"
			count: 1
			path: src/DataFixtures/CustomersRatingFixture.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\DataFixtures\\\\CustomersRatingFixture\\:\\:createRating\\(\\) expects App\\\\Entity\\\\User\\|null, object given\\.$#"
			count: 1
			path: src/DataFixtures/CustomersRatingFixture.php

		-
			message: "#^Parameter \\#2 \\$continent of method App\\\\DataFixtures\\\\DestinationFixture\\:\\:createDestination\\(\\) expects App\\\\Entity\\\\Continent\\|null, object given\\.$#"
			count: 10
			path: src/DataFixtures/DestinationFixture.php

		-
			message: "#^Method App\\\\DataFixtures\\\\ReservationFixture\\:\\:createPaidReservation\\(\\) has parameter \\$bookingOffer with no type specified\\.$#"
			count: 1
			path: src/DataFixtures/ReservationFixture.php

		-
			message: "#^Method App\\\\DataFixtures\\\\ReservationFixture\\:\\:createPaidReservation\\(\\) has parameter \\$user with no type specified\\.$#"
			count: 1
			path: src/DataFixtures/ReservationFixture.php

		-
			message: "#^Parameter \\#1 \\$user of method App\\\\DataFixtures\\\\ReservationFixture\\:\\:createReservation\\(\\) expects App\\\\Entity\\\\User\\|null, object given\\.$#"
			count: 2
			path: src/DataFixtures/ReservationFixture.php

		-
			message: "#^Parameter \\#2 \\$bookingOffer of method App\\\\DataFixtures\\\\ReservationFixture\\:\\:createReservation\\(\\) expects App\\\\Entity\\\\BookingOffer\\|null, object given\\.$#"
			count: 2
			path: src/DataFixtures/ReservationFixture.php

		-
			message: "#^Method App\\\\Entity\\\\BookingOffer\\:\\:setRating\\(\\) has parameter \\$rating with no type specified\\.$#"
			count: 1
			path: src/Entity/BookingOffer.php

		-
			message: "#^Property App\\\\Entity\\\\BookingOffer\\:\\:\\$id has no type specified\\.$#"
			count: 1
			path: src/Entity/BookingOffer.php

		-
			message: "#^Property App\\\\Entity\\\\BookingOffer\\:\\:\\$rating has no type specified\\.$#"
			count: 1
			path: src/Entity/BookingOffer.php

		-
			message: "#^Cannot call method contains\\(\\) on array\\|Doctrine\\\\Common\\\\Collections\\\\ArrayCollection\\.$#"
			count: 2
			path: src/Entity/BookingOfferType.php

		-
			message: "#^Cannot call method removeElement\\(\\) on array\\|Doctrine\\\\Common\\\\Collections\\\\ArrayCollection\\.$#"
			count: 1
			path: src/Entity/BookingOfferType.php

		-
			message: "#^Method App\\\\Entity\\\\BookingOfferType\\:\\:getBookingOffers\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/BookingOfferType.php

		-
			message: "#^Method App\\\\Entity\\\\BookingOfferType\\:\\:getBookingOffers\\(\\) should return Doctrine\\\\Common\\\\Collections\\\\Collection&iterable\\<App\\\\Entity\\\\BookingOffer\\> but returns array\\|Doctrine\\\\Common\\\\Collections\\\\ArrayCollection\\.$#"
			count: 1
			path: src/Entity/BookingOfferType.php

		-
			message: "#^Property App\\\\Entity\\\\BookingOfferType\\:\\:\\$bookingOffers type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/BookingOfferType.php

		-
			message: "#^Property App\\\\Entity\\\\BookingOfferType\\:\\:\\$bookingOffers type has no value type specified in iterable type array\\|Doctrine\\\\Common\\\\Collections\\\\ArrayCollection\\.$#"
			count: 1
			path: src/Entity/BookingOfferType.php

		-
			message: "#^Property App\\\\Entity\\\\BookingOfferType\\:\\:\\$bookingOffers with generic class Doctrine\\\\Common\\\\Collections\\\\ArrayCollection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/BookingOfferType.php

		-
			message: "#^Property App\\\\Entity\\\\BookingOfferType\\:\\:\\$id has no type specified\\.$#"
			count: 1
			path: src/Entity/BookingOfferType.php

		-
			message: "#^Property App\\\\Entity\\\\Career\\:\\:\\$id has no type specified\\.$#"
			count: 1
			path: src/Entity/Career.php

		-
			message: "#^Property App\\\\Entity\\\\Continent\\:\\:\\$id has no type specified\\.$#"
			count: 1
			path: src/Entity/Continent.php

		-
			message: "#^Property App\\\\Entity\\\\CustomersRating\\:\\:\\$id has no type specified\\.$#"
			count: 1
			path: src/Entity/CustomersRating.php

		-
			message: "#^Call to an undefined method Traversable\\<\\(int\\|string\\), mixed\\>\\:\\:uasort\\(\\)\\.$#"
			count: 1
			path: src/Entity/Destination.php

		-
			message: "#^Method App\\\\Entity\\\\Destination\\:\\:sortDestinationsByName\\(\\) has parameter \\$destinations with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Destination.php

		-
			message: "#^Method App\\\\Entity\\\\Destination\\:\\:sortDestinationsByName\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Destination.php

		-
			message: "#^Property App\\\\Entity\\\\Destination\\:\\:\\$id has no type specified\\.$#"
			count: 1
			path: src/Entity/Destination.php

		-
			message: "#^Property App\\\\Entity\\\\Newsletter\\:\\:\\$id has no type specified\\.$#"
			count: 1
			path: src/Entity/Newsletter.php

		-
			message: "#^Method App\\\\Entity\\\\Reservation\\:\\:generateRandomString\\(\\) has parameter \\$length with no type specified\\.$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Parameter \\#2 \\$times of function str_repeat expects int, float given\\.$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Property App\\\\Entity\\\\Reservation\\:\\:\\$bankTransferTitle has no type specified\\.$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Property App\\\\Entity\\\\Reservation\\:\\:\\$id has no type specified\\.$#"
			count: 1
			path: src/Entity/Reservation.php

		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:setRoles\\(\\) has parameter \\$roles with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$id has no type specified\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$reservations has no type specified\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$reservations is never written, only read\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$roles has no type specified\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: """
				#^Return type of method App\\\\Entity\\\\User\\:\\:getRoles\\(\\) has typehint with deprecated class Symfony\\\\Component\\\\Security\\\\Core\\\\Role\\\\Role\\:
				since Symfony 4\\.3, to be removed in 5\\.0\\. Use strings as roles instead\\.$#
			"""
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Generator expects value type Symfony\\\\Component\\\\HttpKernel\\\\Bundle\\\\BundleInterface, object given\\.$#"
			count: 1
			path: src/Kernel.php

		-
			message: "#^Cannot call method getPackageId\\(\\) on App\\\\Entity\\\\BookingOffer\\|null\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Cannot call method setRating\\(\\) on App\\\\Entity\\\\BookingOffer\\|null\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Class App\\\\Repository\\\\BookingOfferRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:createSearchCriteria\\(\\) has parameter \\$bookingOfferTypes with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:createSearchCriteria\\(\\) has parameter \\$comebackDate with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:createSearchCriteria\\(\\) has parameter \\$departureDate with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:createSearchCriteria\\(\\) has parameter \\$departureSpot with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:createSearchCriteria\\(\\) has parameter \\$destination with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:createSearchCriteria\\(\\) has parameter \\$priceMax with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:createSearchCriteria\\(\\) has parameter \\$priceMin with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:findOffer\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:findOffers\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:findOffers\\(\\) has parameter \\$bookingOfferTypes with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:findOffers\\(\\) has parameter \\$comebackDate with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:findOffers\\(\\) has parameter \\$departureDate with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:findOffers\\(\\) has parameter \\$departureSpot with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:findOffers\\(\\) has parameter \\$destination with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:findOffers\\(\\) has parameter \\$priceMax with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Method App\\\\Repository\\\\BookingOfferRepository\\:\\:findOffers\\(\\) has parameter \\$priceMin with no type specified\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Parameter \\#1 \\$packageId of method App\\\\Repository\\\\BookingOfferRepository\\:\\:findOfferRating\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/Repository/BookingOfferRepository.php

		-
			message: "#^Class App\\\\Repository\\\\BookingOfferTypeRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Repository/BookingOfferTypeRepository.php

		-
			message: "#^Class App\\\\Repository\\\\CareerRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Repository/CareerRepository.php

		-
			message: "#^Class App\\\\Repository\\\\ContinentRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Repository/ContinentRepository.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Repository/CustomersRatingRepository.php

		-
			message: "#^Cannot call method getRating\\(\\) on mixed\\.$#"
			count: 1
			path: src/Repository/CustomersRatingRepository.php

		-
			message: "#^Class App\\\\Repository\\\\CustomersRatingRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Repository/CustomersRatingRepository.php

		-
			message: "#^Method App\\\\Repository\\\\CustomersRatingRepository\\:\\:findAvgRatingForPackage\\(\\) has parameter \\$packageId with no type specified\\.$#"
			count: 1
			path: src/Repository/CustomersRatingRepository.php

		-
			message: "#^Method App\\\\Repository\\\\CustomersRatingRepository\\:\\:findAvgRatingForPackage\\(\\) should return int\\|null but returns float\\.$#"
			count: 1
			path: src/Repository/CustomersRatingRepository.php

		-
			message: "#^Method App\\\\Repository\\\\CustomersRatingRepository\\:\\:findIfOfferIsRated\\(\\) has parameter \\$packageId with no type specified\\.$#"
			count: 1
			path: src/Repository/CustomersRatingRepository.php

		-
			message: "#^Method App\\\\Repository\\\\CustomersRatingRepository\\:\\:findIfOfferIsRated\\(\\) has parameter \\$user with no type specified\\.$#"
			count: 1
			path: src/Repository/CustomersRatingRepository.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, mixed given\\.$#"
			count: 2
			path: src/Repository/CustomersRatingRepository.php

		-
			message: "#^Class App\\\\Repository\\\\DestinationRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Repository/DestinationRepository.php

		-
			message: "#^Class App\\\\Repository\\\\NewsletterRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Repository/NewsletterRepository.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Repository/ReservationRepository.php

		-
			message: "#^Cannot call method getAdultNumber\\(\\) on mixed\\.$#"
			count: 1
			path: src/Repository/ReservationRepository.php

		-
			message: "#^Cannot call method getBookingOffer\\(\\) on mixed\\.$#"
			count: 3
			path: src/Repository/ReservationRepository.php

		-
			message: "#^Cannot call method getChildNumber\\(\\) on mixed\\.$#"
			count: 1
			path: src/Repository/ReservationRepository.php

		-
			message: "#^Cannot call method setDestination\\(\\) on mixed\\.$#"
			count: 1
			path: src/Repository/ReservationRepository.php

		-
			message: "#^Cannot call method setTotalCost\\(\\) on mixed\\.$#"
			count: 1
			path: src/Repository/ReservationRepository.php

		-
			message: "#^Class App\\\\Repository\\\\ReservationRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Repository/ReservationRepository.php

		-
			message: "#^Method App\\\\Repository\\\\ReservationRepository\\:\\:findReservationsByUser\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Repository/ReservationRepository.php

		-
			message: "#^Method App\\\\Repository\\\\ReservationRepository\\:\\:findReservationsByUser\\(\\) has parameter \\$user with no type specified\\.$#"
			count: 1
			path: src/Repository/ReservationRepository.php

		-
			message: "#^Class App\\\\Repository\\\\UserRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: "#^Cannot access offset 'email' on mixed\\.$#"
			count: 2
			path: src/Security/LoginFormAuthenticator.php

		-
			message: "#^Cannot access offset 'password' on mixed\\.$#"
			count: 2
			path: src/Security/LoginFormAuthenticator.php

		-
			message: "#^Parameter \\#2 \\$raw of method Symfony\\\\Component\\\\Security\\\\Core\\\\Encoder\\\\UserPasswordEncoderInterface\\:\\:isPasswordValid\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Security/LoginFormAuthenticator.php

		-
			message: "#^Method App\\\\Service\\\\BookingOfferService\\:\\:findOffers\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Service/BookingOfferService.php

		-
			message: "#^Method App\\\\Service\\\\BookingOfferService\\:\\:findOffers\\(\\) has parameter \\$bookingOfferTypes with no type specified\\.$#"
			count: 1
			path: src/Service/BookingOfferService.php

		-
			message: "#^Method App\\\\Service\\\\BookingOfferService\\:\\:findOffers\\(\\) has parameter \\$comebackDate with no type specified\\.$#"
			count: 1
			path: src/Service/BookingOfferService.php

		-
			message: "#^Method App\\\\Service\\\\BookingOfferService\\:\\:findOffers\\(\\) has parameter \\$departureDate with no type specified\\.$#"
			count: 1
			path: src/Service/BookingOfferService.php

		-
			message: "#^Method App\\\\Service\\\\BookingOfferService\\:\\:findOffers\\(\\) has parameter \\$departureSpot with no type specified\\.$#"
			count: 1
			path: src/Service/BookingOfferService.php

		-
			message: "#^Method App\\\\Service\\\\BookingOfferService\\:\\:findOffers\\(\\) has parameter \\$destination with no type specified\\.$#"
			count: 1
			path: src/Service/BookingOfferService.php

		-
			message: "#^Method App\\\\Service\\\\BookingOfferService\\:\\:findOffers\\(\\) has parameter \\$priceMax with no type specified\\.$#"
			count: 1
			path: src/Service/BookingOfferService.php

		-
			message: "#^Method App\\\\Service\\\\BookingOfferService\\:\\:findOffers\\(\\) has parameter \\$priceMin with no type specified\\.$#"
			count: 1
			path: src/Service/BookingOfferService.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Dotenv\\\\Dotenv\\:\\:bootEnv\\(\\)\\.$#"
			count: 1
			path: tests/bootstrap.php

		-
			message: "#^Call to function method_exists\\(\\) with 'Symfony\\\\\\\\Component\\\\\\\\Dotenv\\\\\\\\Dotenv' and 'bootEnv' will always evaluate to false\\.$#"
			count: 1
			path: tests/bootstrap.php
